

<html>

    <head>
      <link href='{{ url_for("static", filename='access.css') }}' rel="stylesheet" media="screen">
      <link href="{{ url_for('static', filename='fonts/vazir-medium.woff') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='fonts/vazir-bold.woff') }}" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Info</title>
    </head>
    
    <body>
      <div class="main">
        <p class="access" align="center" dir="rtl" >پوزش!</p>
        <p class="info" align="center" dir="rtl">
            با عرض شرمندگی باید بگوییم که شما دسترسی لازم برای آپلود محصول جدید و تغییر آنها را ندارید. اما 
             :)هنوز امیدی هست!! احتمال دارد که مدیر سایت این دسترسی را برای شما فعال کند. پس تا آن موقع میتوانید دخیل ببندید شاید نتیجه داد :)
        </p>
    
        </div>
    
    </body>
    
    </html>
    