<html>

<head>
  <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="{{ url_for('static', filename='fonts/vazir-medium.woff') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='fonts/vazir-bold.woff') }}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Add Application</title>
</head>

<body>
  <div class="main">
    <p class="description" align="center" dir="rtl">توضیحات</p>
    <p class="info" align="center" dir="rtl">
        با سلام. این یک وب اپلیکیشن است که برای بروزرسانی و همچنین اضافه کردن اپلیکیشن های شرکت معین وب مورد بهره برداری قرار میگیرد. برای ورود میتوانید به <a href="{{ url_for('index.login') }}">اینجا</a>
         و همچنین برای ثبت نام میتوانید به این <a href="{{ url_for('index.email_sender') }}">لینک</a> مراجعه فرمایید
    </p>


    </div>

</body>

</html>